body{
    padding: 0;
    margin: 0;
  }
  
  #container{
    background-color:#0c1024;
    background-image: linear-gradient(#272d52cc .1em, transparent .1em), 
    linear-gradient(90deg, #272d52cc .1em, transparent .1em);
    background-size: 4em 4em;
    height: 100vh;
  }
  
  
  #card{
    width: 500px;
    height: 800px;
    background-color: lightcyan;
    border-color: #272d52cc;
    border-width: 50px;
    border-radius: 3%;
    cursor: pointer;
    position: fixed;
  }
