<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title> Login </title>
</head>
<body>
  <h1>LOGIN</h1>
    <br>
    <!--SENDS POST REQUEST TO HTTPS (USERNAME + PASSWORD) AND THEN REDIRECTS BACK TO HOME PAGE-->
    <!--may need to adjust for if login error (incorrect username/password)-->
    <form method="POST">
      <input type="text" placeholder="Username" name="user" class = "pb-5">
      <br>
      <input type="password" placeholder="Password" name="password" class = "pb-5">
      <br>
      <button type="submit" name="type" value="loginenter">Enter</button>
    </form>
    <br>
    <form method="POST">
      <button type="submit" name="type" value="returnhome">Return to Homepage</button>
    </form>
</body>
</html>
