<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devuzz Match</title>
  <link rel="stylesheet" href="../static/css/matchCard.css">
</head>

<body>
  <div class ="icon-container">
    <ion-icon id="dislike" name="compass-outline"></ion-icon>
    <h1>Git Push</h1>
  </div>

  <div id="swiper">
    {% for profile in profiles %}
    <div class="card" style="--i:{{ loop.index0 }}">
      <div class="profile-content">
        <div class="profile-name">{{ profile.user }}</div>
        <div class="profile-desc">{{ profile.desc }}</div>
        <div class="profile-info">
          <div class="profile-lang">
            <ion-icon name="code-outline"></ion-icon>
            {{ profile.lang }}
          </div>
          <div class="profile-song">
            <ion-icon name="musical-notes-outline"></ion-icon>
            {{ profile.song }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="icon-container">
    <ion-icon id="like" name="car-outline"></ion-icon>
    <h1>Git Pull</h1>
  </div>

  <script src="../static/js/card.js"></script>
  <script src="../static/js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
