<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title> Profile </title>
</head>
<body>
  <h1 class="text-3xl font-bold underline">
    This is the profile of {{user}}.
  </h1>
  <h3>{{desc}}</h3>
  <br>
  <h3>{{pref_lang}}</h3>
  <br>
  <h3>{{pref_song}}</h3>
  <br>
  <a href="/">
    <button type="submit" name="type" value="returnhome">Return to Homepage</button>
  </a>
</body>
</html>
